<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./../static/stylesheet.css"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Cormorant+Garamond:wght@600;700&display=swap" rel="stylesheet">
    </head>
    <body>

        <div id="container">
            <header>
                <img src="./../static/icons.png" />
                <div>
                    <h1>Adriano Alasia</h1>
                    <h3>Archive of my thoughts</h3>
                </div>
            </header>

            <ul>
                <% articles.forEach((article,index) => { %>
                    <li> 
                        <a href="post/<%= article.id %>" >
                            <%= article.title %> 
                        </a>
                        <%= article.timestamp %>
                    </li>
                <% }) %>
            </ul>
        </div>

    </body>
</html>
